.form-field {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}

.form-field input {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 17vw;
  height: 4vh;
  background-color: #212121;
  border: 1px solid #3d3d3d;
  padding-left: 5px;
  color: #fcfcfc;
}

.form-field .file-input-field {
  background-color: transparent !important;
  border: none;
  color: transparent;
}
