.profile-picture-container {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  object-fit: contain;
  width: 40px;
  border-radius: 50px;
}
