.my-video-section-container {
  height: 100vh;
  width: 100vw;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 6vw;
  z-index: 0;
}

.my-video-section-container .video-card-container {
  width: 94vw;
  height: fit-content;
  display: flex;
  margin-top: 25px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start !important;
  overflow: hidden;
}

.my-video-section-container .video-card {
  height: 37vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  margin: 50px;
}
